/* @media only screen and (-webkit-min-device-pixel-ratio: 0) and (min-device-width: 1025px) {
html {  overflow: hidden; }
body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
}

::-webkit-scrollbar-button:vertical:increment {
    background-color: #fff;
}

::-webkit-scrollbar-track-piece {
    background-color: #eee;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: #ccc;
    -webkit-border-radius: 3px;
}
} */
body { padding-right: 0 !important }
strong{
    font-weight: bold !important;
}
.why ul {
    list-style-type: none;
}
.why ul li{
    display: flex;
}
.why ul li:before{
    margin-right: 10px;
    color: #36e600;
    font-size: 10px;
    margin-top: 5px;
    content:"\2714\0020";
}
.juna-header-right ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.juna-header-right ul li{
    display: inline;
    padding-left: 10px;
}
.juna-header-right ul li a{
    color: #000000;
}
.juna-header-right ul li a:hover{
    color: #313131c9;
}
.juna-navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.juna-navbar ul li{
    font-size: small;
    float: left;
    border-bottom: 2px solid #ffffff;
}
.juna-navbar ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.juna-navbar ul li:hover{
    border-bottom: 2px solid #000000;
}
.juna-navbar ul li.active{
    border-bottom: 2px solid #000000;
}
.juna-nav-search{
    background-color: #f8f9fa;
    padding: 0;
    margin: 0;
    padding-left: 12px;
    border-radius: 5px;
}
.juna-nav-search input{
    border: none;
    border-radius: 5px;
    background-color: #f8f9fa;
    padding: 5px 10px 5px 10px;
    font-size: small;
    color: #000000;
    width: 250px;
}
.juna-nav-search input:focus{
    outline: none;
}
.juna-subnav{
    position: fixed;
    width: 100%;
    padding: 20px;
    display: none;
}
.juna-btn-sidebar{
    display: none;
}
.juna-btn-sidebar span{
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000000;
    margin: 3px 0px;
    margin-right: 10px;
}
#juna-sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #000000;
    left:-200px;
    transition: all 200ms linear;
    display: none;
}
#juna-sidebar.active{
    left: 0px;
}
#juna-sidebar ul{
    padding-left: 0;
    font-size: small;
    padding-left: 10px;
}
#juna-sidebar ul li{
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid #2f2f2f;
}
#juna-sidebar ul li a{
    color: white;
}

#juna-subsidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background-color: #f3f3f3;
    left:-200px;
    transition: all 200ms linear;
    display: none;
    z-index: 10;
}
#juna-subsidebar.active{
    left: 0px;
}
#juna-subsidebar ul{
    padding-left: 0;
    font-size: small;
    padding-left: 10px;
}
#juna-subsidebar ul li{
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid #bbbbbb;
}
#juna-subsidebar ul li a{
    color: #000000;
}

.juna-content{
    padding-top: 3rem !important;
}
.juna-produk-image-slider .item a img{
    width:100%;    
    height: 530px;
}
.juna-container{
    padding: 70px 60px 70px 60px;
    margin-right: auto;
    margin-left: auto;
}
.juna-container h3{
    color: #000000 !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.juna-container .produk{
    margin-top: 30px;
}
.juna-container .produk .produk-image{
    width: 100%;
    height: 400px;
    padding: 10px;
    background-color: #f8f9fa;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.juna-container .produk .produk-image .overlay-produk{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#ffffff00, #0000009a) !important;
}
.juna-container .produk .produk-image h4{
    position: absolute;
    bottom: 30px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase !important;
    color: #ffffff;
    z-index: 1;
}
.juna-container .produk .produk-image small{
    position: absolute;
    bottom: 20px;
    color: #ffffff;
    z-index: 1;
}
.juna-container .produk .juna-seller{
    padding: 0 3rem 0 3rem;
}
.juna-container .produk .produk-image-seller-produk{
    width: 100% !important;
}
.juna-container .produk .produk-image-seller-produk h5{
    margin: 10px 0px 0px 0px;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    opacity: 0.8;
}
.juna-container .produk .produk-image-seller-produk h6{
    margin: 10px 0px 0px 0px;
    font-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #147a19;
}
.juna-container .produk .produk-image-seller-produk small{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #b4b4b4;
}
.coret-harga{
    text-decoration: line-through;
}
.juna-container .produk .produk-image-seller img{
    width: 100% !important;
    height: 250px;
}
.juna-btn{
    background: #000000;
    padding: 10px 15px 10px 15px;
    color:#ffffff;
    border-radius: 50px;
}
.juna-btn:hover{
    background-color: rgba(0, 0, 0, 0.822);
    color: #ffffff;
}
.juna-btn-lg{
    background: #000000;
    padding: 15px 30px 15px 30px;
    color:#ffffff;
    border-radius: 50px;
    text-transform: uppercase;
}
.juna-btn-lg:hover{
    background-color: rgba(0, 0, 0, 0.822);
    color: #ffffff;
}
.juna-btn-small{
    background: #1cad51;
    padding: 5px 10px 5px 10px;
    color:#ffffff;
    border-radius: 5px;
    font-size: medium;
}
.juna-btn-small:hover{
    background-color: #25D366;
    color: #ffffff;
}
.produk-galeri{
    cursor: pointer;
}
.produk-galeri .produk-image img{
    width: 100%;
    height: 300px;
}
.produk-galeri .produk-image h5{
    display: none;
}
.produk-galeri .produk-image:hover h5{
    position: absolute;
    margin: auto;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:#ffffff;
    z-index: 1;
    font-weight: 500;
    font-family: monospace;
}
.produk-galeri .produk-image .overlay{
    display: none;
}
.produk-galeri .produk-image:hover .overlay{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.596);
}
.social-icon{
    display: inline;
}
.social-icon a{
    padding: 10px 12px 10px 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50% !important;
    color: #000000;
}
.footer-title{
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 90%;
}
footer ul{
    padding: 0;
    margin: 0;
}
footer ul li{
    list-style: none;
    font-size:80%;
}
footer ul li a{
    color: #ffffff;
    opacity: 0.5;
} 
footer ul li a:hover{
    color: #ffffff;
    opacity: 1;
}
.border-top{
    border-top-color:#181818 !important;
}
.produk-detail{
    margin: 20px 20px;
    color: #000000;
}
.produk-detail h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    font-size: 200%;
    font-weight: 700;
    margin-bottom: 0 !important;
}
.img-produk-small{
    padding: 20px 25px 0px 25px;    
}
.img-produk-small .item{
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.img-produk-small img{
    height: 80px;
    border-radius: 5px;
    opacity: 0.5;
    cursor: pointer;
}
.img-produk-small img:hover{
    opacity: 1;
}
.img-produk-small img:focus{
    opacity: 1;
}
.banner-diskon{
    padding: 2rem 2rem 1rem 2rem !important;
    background-image: linear-gradient(to right, #df2222, #ff5a0e);
    
}
.gradient-orange{
    background-image: linear-gradient(to right, #df2222, #ff5a0e);
}
.banner-diskon h1{
    font-family: monospace;
    font-size: 150%;
    padding: 0;
    margin: 0;
    font-weight: 700;
}
.banner-diskon small{
    color: #ffffff;
    margin-top: 0px;
    padding: 0px;
}
.juna-countdown{
    text-align: right;
    color: #ffffff;
    font-weight: bold;
    margin-top: 10px;
}
.juna-countdown span{
    background: linear-gradient(to right , purple, rgba(0, 0, 255, 0.582));
    padding: 10px 10px;
    border-radius: 5px;
}
.h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* img */
.img-policy{
    width: 350px;
    height: 100px;
}
#img-first{
    width: 100%;
    height: 550px;
}
.img-modal{
    width: auto;
    max-width: 100%;
    height: 400px;   
}
.list-kategori ul {
    margin:0;
    margin-top: 20px;
    padding:0;
}
.list-kategori ul li{
    list-style: none;
    padding: 20px;
    border-bottom: 1px solid #b4b4b4;
}
.list-kategori ul li:hover{
    color: #b4b4b4;
}
@media only screen and (min-width: 320px) and (max-width: 425px){
    .img-modal{
        width: auto;
        max-width: 100%;
        height: 250px; 
    }
    .juna-header{
        display: none;
    }    
    .juna-nav-search input{
        width: 170px;
    }
    .juna-produk-image-slider .item a img{
        width:100%;    
        height: 330px;
    }
    .juna-container{
        padding: 50px 0px 50px 0px;
    }
    .juna-container h3{
        text-align: center;
    }
    .juna-container .produk .produk-image{
        height: 300px;
    }
    .juna-container .produk .produk-image h4{
        font-size: 100%;
    }
    .juna-container .produk .juna-seller{
        padding: 0 20px 0 20px;
    }
    .juna-container .produk .produk-image-seller img{
        height: 170px;
    }
    .produk-galeri .produk-image img{
        height: 200px;
    }
    .produk-detail{
        margin: 20px 3px;
    }
    .juna-container.produk-detail-page{
        padding: 0 0 0 0 !important;
    }
    .banner-diskon{
        padding: 4rem 2rem 1rem 2rem;
        text-align: center;
    }
    .banner-diskon h1{
        font-size: 110%;
    }
    .juna-countdown{
        text-align: center;
    }
    .banner-diskon small{
        font-size: 70%;
        padding: 0;
        margin: 0;
    }
    .h1{
        font-size: 100% !important;
    }
    .h5{
        font-size: 100% !important;
    }
    #img-first{
        height: 300px;
    }
    .list-kategori{
        display: none;
    }
}
@media only screen and (width: 768px){
    .banner-diskon{
        padding: 6rem 2rem 1rem 2rem;
        text-align: center;
    }
    .juna-countdown{
        text-align: center;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1028px){
    .juna-container .produk .produk-image{
        height: 350px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 768px){
    .juna-btn-sidebar{
        display: block;
    }
    #juna-sidebar{
        display: block;
    }
    #juna-subsidebar{
        display: block;
    }
    .form-inline{
        width: 100%;
    }
    .juna-nav-search{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    /* img */
    .img-policy{
        width: 100%;
        margin-bottom: 2rem;
    }
}